.dcl.center {
    position: relative;
}

.ui.modal .dcl.close {
    top: 0;
    right: 0;
    background-color: inherit;
    width: 12px;
    height: 12px;
}

.title {
    margin-bottom: 15px;
}

.description {
    font-size: 14px;
    font-weight: 300;
}

form .dcl.field {
    min-width: 100px;
}
